.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
  }
  
  .loading-logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  